In [9]:
# Célula 1: Importar o pandas e carregar o dataset
import pandas as pd

# Carrega o arquivo CSV para um DataFrame do pandas
df = pd.read_csv('IMDB Dataset.csv')

print("Dataset carregado com sucesso!")

Dataset carregado com sucesso!

In [10]:
# Célula 2: Ver as 5 primeiras linhas do DataFrame
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [11]:
# Célula 3: Exibir o número de linhas e colunas
print(f"O dataset possui {df.shape[0]} linhas e {df.shape[1]} colunas.")

O dataset possui 50000 linhas e 2 colunas.

In [12]:
# Célula 4: Contar a quantidade de cada sentimento
print("Distribuição dos sentimentos:")
print(df['sentiment'].value_counts())

Distribuição dos sentimentos:
sentiment
positive    25000
negative    25000
Name: count, dtype: int64

In [13]:
# Célula 5: Exibir uma avaliação positiva e uma negativa
print("--- Exemplo de Avaliação Positiva ---")
print(df['review'][0]) # Mostra a primeira avaliação do dataset

print("\n" + "="*50 + "\n") # Apenas uma linha para separar

print("--- Exemplo de Avaliação Negativa ---")
print(df['review'][49999]) # Mostra a última avaliação do dataset

--- Exemplo de Avaliação Positiva ---
One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side.

==================================================

--- Exemplo de Avaliação Negativa ---
No one expects the Star Trek movies to be high art, but the fans do expect a movie that is as good as some of the best episodes. Unfortunately, this movie had a muddled, implausible plot that just left me cringing - this is by far the worst of the nine (so far) movies. Even the chance to watch the well known characters interact in another movie can't save this movie - including the goofy scenes with Kirk, Spock and McCoy at Yosemite.<br /><br />I would say this movie is not worth a rental, and hardly worth watching, however for the True Fan who needs to see all the movies, renting this movie is about the only way you'll see it - even the cable channels avoid this movie.

In [14]:
# Célula 6: Definir a função para limpar o texto
import re

def limpar_texto(texto):
    # 1. Remove tags HTML
    texto_sem_html = re.sub(r'<.*?>', '', texto)

    # 2. Remove pontuação e caracteres não alfabéticos (mantém letras e espaços)
    texto_sem_pontuacao = re.sub(r'[^a-zA-Z\s]', '', texto_sem_html)

    # 3. Converte tudo para minúsculas
    texto_limpo = texto_sem_pontuacao.lower()

    return texto_limpo

print("Função 'limpar_texto' criada com sucesso!")

Função 'limpar_texto' criada com sucesso!

In [15]:
# Célula 7: Aplicar a função de limpeza na coluna 'review'
df['review_limpa'] = df['review'].apply(limpar_texto)

print("Limpeza aplicada! Nova coluna 'review_limpa' foi criada.")

Limpeza aplicada! Nova coluna 'review_limpa' foi criada.

In [16]:
# Célula 8: Exibir as colunas original e limpa lado a lado
df[['review', 'review_limpa']].head()

,review,review_limpa
0,One of the other reviewers has mentioned that ...,one of the other reviewers has mentioned that ...
1,A wonderful little production. <br /><br />The...,a wonderful little production the filming tech...
2,I thought this was a wonderful way to spend ti...,i thought this was a wonderful way to spend ti...
3,Basically there's a family where a little boy ...,basically theres a family where a little boy j...
4,"Petter Mattei's ""Love in the Time of Money"" is...",petter matteis love in the time of money is a ...